<!--
============================================
; Title:  index.ejs
; Author: James Brown
; Date:   2-27-2020
; Description: Assignment 2.2
;===========================================
-->


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<title>Assignment 2.4</title>
</head>
<h1>Assignment 2.4 - EJS Views</h1>
<body class="container">
<div role="main" class="container">
    <div class="jumbotron bgImg">
        <h1 class="display-4">EJS Outputs from a Node Server</h1>
            <div class="list-group list-group-flush">
                <li class="list-group-item"><strong>First Name: </strong><%= firstName %></li>
                <li class="list-group-item"><strong>Last Name: </strong><%= lastName %></li>
                <li class="list-group-item"><strong>Email Adress: </strong><%= address %></li>
                
</div>
</div>
</div>
<footer>
</footer>
</body>
</html>
