<div class="container" id="formContainer">
    <row class="align-items-center justify-content-center hide">
        <div class="col">
            <div class="jumbotron mainJumbo">
                <h1 class="display-4"><%= title %></h1>
                <p class="lead">Current Records</p>
                <ul class="list-group list-group-flush">
                  <% employees.forEach( (employee) => { %>
                    <li class="list-group-item">
                      <td><%= employee.firstName %></td>
                      <td><%= employee.lastName %></td>
                      <td><form class="float-right" method="get" action="/view/<%= employee.firstName %>">
                        <button type="submit" class="btn btn-primary mb-2">View Employee</button>
                      </form>
                      </td>
                  </li>
                    <% }); %>
                  </ul>
                  <br />
                  <a href="/new" class="btn btn-primary">Add Employee</a>
                  <br />
                  <br />
                  
              </div>
            </div>
    </row>
  </div>