<div class="container" id="formContainer">
    <row class="align-items-center justify-content-center hide">
        <div class="col">
            <div class="jumbotron mainJumbo">
                <h1 class="display-4"><%= title %></h1>
                <p class="lead">Current Records</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Employee 1</li>
                    <li class="list-group-item">Employee 2</li>
                    <li class="list-group-item">Employee 3</li>
                    <li class="list-group-item">Employee 4</li>
                    <li class="list-group-item">Employee 5</li>
                  </ul>
              </div>
            </div>
    </row>
  </div>